* {
  box-sizing: border-box;
  margin: 0;
}

html {
  max-width: 800px;
  margin: 0 auto;
}

#root{
  font-family: 'Inter', sans-serif;
}

/* Header */

.nav-container {
  display: flex;
  background-color: #F55A5A;
  justify-content: center;
  align-items: center;
  color: #FFF;
  padding: 1.5em;
}

.logo {
  height: 24px;
  margin-right: 0.5em;
}

.blog-title {
  font-size: 1rem;
  font-weight: 400;
}

/* Main */
.card-list {
  margin: 3em 1em;
}

.card {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-bottom: 2em;
  border-bottom: 0.5px solid grey;
}

.img-container img{
  width: 225px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.image {
  border-radius: 4px;
}

.pin {
  height: 0.8em;
}

.country {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-left: 0.5em;
  letter-spacing: 0.2em;
  margin-right: 1.8em;
}

.title {
  font-size: 2rem;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}

.date {
  font-weight: 600;
  margin-bottom: 0.8em;
}

.description {
  line-height: 1.5em;
}